.cijfer-text-container {
	margin-top: 1em;
	.numbers {
		display: flex;
		@include mq("desktop") {
			justify-content: center;
		}
		.number-container {
			text-align: left;
			flex: 1;

			@include mq("desktop") {
				max-width: 230px;

			}
			&:first-of-type {
				margin-right: 1em;
				@include mq("tablet"){
					margin-right: 5em;
				}
			}
			.big-number {
				text-align: center;
				font-weight: 600;
				margin: 0;
				font-family: $title-family;
				font-size: 2em;
				line-height: normal;

				.bigger-number {
					font-size: 3em;
				}
			}
			.migratieachtergrond-rectangle{
				height: 20px;
				width: 100%;
				border-radius: 6px;
				margin-bottom: 1em;
				margin: auto;
			}
			.red {
				background-color: $color-red;
			}
			.blue {
				background-color: $color-blue;
			}
			.yellow {
				background-color: $color-yellow;
			}
			p {
				margin: 0;

				&:last-of-type {
					margin-bottom: 1em;
				}
			}

		}
	}
}

.medium-numbers {
	text-align: center;
	@include mq("desktop"){
		display: flex;
	}

	.medium-container {
		margin-bottom: 1em;
		p {
			margin: 0;
		}
		@include mq("desktop"){
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.number-container {
			display: flex;

			@include mq("desktop") {
				max-width: 230px;
			}


			.medium-number-container{
				flex: 1;
				&:first-of-type {
					margin-right: 1em;
				}
				.medium-number {
					font-weight: 600;
					margin: 0;
					font-family: $title-family;
					font-size: 1.5em;
					line-height: normal;
					@include mq("desktop"){
						font-size: 3em;
					}

					.bigger-number {
						font-size: 1.5em;
					}
				}
				.migratieachtergrond-rectangle{
					height: 30px;
					width: 100%;
					border-radius: 8px;
					margin-bottom: 0.5em;
					margin: auto;

					@include mq("desktop"){
						height: 15px;
					}
				}
				.red {
					background-color: $color-red;
				}
				.blue {
					background-color: $color-blue;
				}
				p {
					margin: 0;

					&:last-of-type {
						margin-bottom: 1em;
					}
				}
			}
		}
	}
}
